
*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

.documentary-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 16px;
    padding: 5px 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    pointer-events: none; /* Prevent interaction with the icon */
}


.explore-grid {
    margin-top: 20px; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 20vw;
    margin-right: 20vw;
    gap:5px;
    padding: 10px;
    margin-top: 20px;
    height:100%;
  
    
}

.link {
    display: block;
    width: 100%;
    height: 100%;
}
.explore-item {
    
    position: relative;
    overflow: hidden;
    aspect-ratio: 1 / 1; 
}


.explore-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}
.explore-doc {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
    aspect-ratio: 1 / 1; 
}


.explore-reel {
    display:block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: span 2;
    aspect-ratio: 1 / 2; 
}
.explore-pdf{
    display:block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: span 2; 
    grid-row: span 2;    
    aspect-ratio: 2 / 2; 
}

/* Container for filter buttons */
.filter-buttons {
    display: flex;
    gap: 12px; /* Spacing between buttons */
    justify-content: center;
    margin:20px; /* Add space below the filter bar */
  }
  
  /* General button styles */
  .filter-btn {
    padding: 10px 20px;
    font-size: 16px;
    border:none;
    font-weight: 600;
    border-radius: 24px; /* Rounded button */
    background-color: #b4f1df;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease; /* Smooth hover effect */
  }
  
  /* Hover effect */
  .filter-btn:hover {
    background-color: #ececec;
  }
  
  /* Active button style */
  .filter-btn.active {
    background-color:#006b6b; /* Blue background for active */
    color: #fff; /* White text */

  }

