
*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

.documentary-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 16px;
    padding: 5px 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    pointer-events: none; /* Prevent interaction with the icon */
}


.explore-grid {
    margin-top: 20px; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 20vw;
    margin-right: 20vw;
    gap:5px;
    padding: 10px;
    margin-top: 20px;
    height:100%;
  
    
}

.link {
    display: block;
    width: 100%;
    height: 100%;
}
.explore-item {
    
    position: relative;
    overflow: hidden;
    aspect-ratio: 1 / 1; 
}


.explore-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}


.explore-reel {
    display:block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: span 2;
    aspect-ratio: 1 / 2; 
}
.explore-pdf{
    display:block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: span 2; 
    grid-row: span 2;    
    aspect-ratio: 2 / 2; 
}



